.mainPageWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

.mainPageSecondaryWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.mainPageColumn1 {
    flex-grow: 1;
    padding: 40px 16px 40px 40px;
}

.TilesListWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainPageColumn2 {
    width: 420px;
    min-width: 420px;
    border-left: 1px solid #f2f2f2;
    padding: 40px;
}